<div id="spree-header">
  <header id="header" data-hook>
  	
   <center><b>MICHEALS COLLECTION</b></center>
   <div id="main"> </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
