
<nav class="container-fluid">
  <div id="main-nav-bar" class="navbar-fixed-top">
    <div class="col-md-4">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SHOP<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><h4 class="word6">Category</h4></li>
            <li role="separator" class="divider"></li>
            <li><h4 class="word6">Movies</h4></li>
            <li><a href="/t/movies/newrelease"><h4 class="shoplist">New Release</h4></a></li>
            <li><a href="/t/movies/action&adventure"><h4 class="shoplist"> Action & Adventure </h4></a></li>
            <li><a href="/t/movies/scifi&fantasy"><h4 class="shoplist">Sci-Fi & Fantasy</h4></a></li>
            <li><a href="/t/movies/comedy"><h4 class="shoplist">Comedy</h4></a></li>
            <li><a href="/t/movies/family"><h4 class="shoplist">Family</h4></a></li>
            <li><a href="/t/movies/children"><h4 class="shoplist">Children </h4></a></li>
            <li><a href="/t/movies/horror"><h4 class="shoplist">Horror</h4></a></li>
            <li><a href="/t/movies/classic"><h4 class="shoplist"> Classic</h4></a></li>
            <li><a href="/t/movies/anime-and-animation"><h4 class="shoplist">Anime & Animation</h4></a></li>
            <li><a href="/t/movies/romance"><h4 class="shoplist">Romance</h4></a></li>
            <li><a href="/t/movies/drama"><h4 class="shoplist">Drama</h4></a></li>
            <li><a href="/t/movies/mystery-and-suspense"><h4 class="shoplist">Mystery & Suspense </h4></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

    <div class="col-md-4" id="fun" >
      <ul class="nav navbar-nav"  data-hook>
        <li class="nav navbar-nav" data-hook><%= link_to Spree.t(:SKYOMIKES), spree.root_path %></li>
      </ul>
    </div>

    <div id="main-nav-bar" class="col-md-4">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="https://localwiki.org/ftl/shopping/_files/shopping-cart.png" width="40px" height="30px"><span class="caret" id="cart"></span></a>
            <ul class="dropdown-menu">
            <li id="link-to-cart" data-hook>
              <%= render 'spree/shared/login_bar' %>
              <noscript>
                <%= link_to Spree.t(:cart), '/cart' %>
              </noscript>
              &nbsp;
            </li>
            <script>Spree.fetch_cart()</script>
        </ul>
        </li>
      </ul>
    </div>
 </div><!-- /.navbar-collapse -->
<!-- /.container-fluid -->
</nav>

  
