<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="/t/movies/children"><img src="http://www.hdwallpaperup.com/wp-content/uploads/2015/07/Inside-Out-Movie-Poster.jpg" alt="..."></a>
      <div class="carousel-caption">
        <small class="word5" data-hook><%= link_to Spree.t(:shop), spree.products_path %></small>
      </div>
    </div>
    <div class="item">
    	<img src="">
      <div class="carousel-caption2">
        <p>ALL THE FAVORITES!</p>

        <img src="http://cdn.toptenreviews.com/rev/misc/articles/7687/the-12-greatest-7.jpg">
        <img src="http://ia.media-imdb.com/images/M/MV5BMTI1NzY1NjkyMV5BMl5BanBnXkFtZTcwMjYxNjE0MQ@@._V1_SX640_SY720_.jpg">
        <img src="http://www.dvdsreleasedates.com/covers/home-alone-collection-blu-ray-cover-70.jpg">
        <img src="http://ia.media-imdb.com/images/M/MV5BMTc5MDY0MjkwNV5BMl5BanBnXkFtZTcwNTk2Njk3OA@@._V1_SX640_SY720_.jpg">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBaACP12uAv14jbflCHLhzUrPQHNfxiPEhghCtH8U4soGpIFU6">
        <img src="http://content6.flixster.com/movie/11/16/74/11167404_ori.jpg">
        <br>
        <a href="/t/movies/classic" class="btn btn-default"> SHOP </a>
      </div>
    </div>
  <div class="item" id="item2">
    	<img src="">
      <div class="carousel-caption2">
        <p>CLASSIC OLDIES AND NEW CLASSICS!</p>

        <img src="http://moviedownloadlinks.com/wp-content/uploads/2014/05/sons-of-anarchy-season-two-dvd-cover-64-e1400166872511.jpg">
        <img src="http://cdn.collider.com/wp-content/uploads/30-rock-season-5-dvd-cover.jpg">
        <img src="http://media3.popsugar-assets.com/files/2013/11/21/850/n/1922283/3eccd3616cab66a6_91iF5nx-50L._SL1500_.xxxlarge/i/New-Girl-Complete-Second-Season-DVD-40.jpg">
        <img src="http://dvdbrowser.law.virginia.edu/system/files/styles/poster-large/private/ModernFamilySeason1_DVD_Oring.jpg?itok=sxcv8VoK">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/ad/Big_Bang_Theory_1.jpg">
        <br>
        <a href="/t/movies/classic" class="btn btn-default"> SHOP </a>
      </div>
    </div>
  </div>
 <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

	<div class="container">
	<div class="row">
		<div class="col-md-2" id="second">
		<a href="/t/movies/newrelease"><img src="https://s-media-cache-ak0.pinimg.com/236x/1f/89/49/1f8949f4caa82cd4bb5a69272172eada.jpg" width="120px" height="180px">
			<h4 class="word2">New Release</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/action&adventure"><img src="http://rallisreview.com/wp-content/uploads/2015/08/SanAndreasDVD.png" width="120px" height="180px">
			<h4 class="word2"> Action & Adventure </h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/scifi&fantasy"><img src="http://images.redbox.com/Images/EPC/Kiosk/7402.jpg" width="120px" height="180px">		
			<h4 class="word2">Sci-Fi & Fantasy</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/comedy"><img src="http://www.dvdsreleasedates.com/posters/800/S/Spy-2015-movie-poster.jpg" width="120px" height="180px">			
			<h4 class="word2">Comedy</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/family"><img src="http://www.dvdsreleasedates.com/covers/paper-towns-dvd-cover-52.jpg" width="120px" height="180px">
			<h4 class="word2">Family</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/children"><img src="http://ecx.images-amazon.com/images/I/91vcv6py09L._SY550_.jpg" width="120px" height="180px">
			<h4 class="word2">Children </h4></a>
		</div>
	</div>
	</div>



	<div class="container">
	<div class="row">
	<div class="col-md-2" id="second">
		<a href="/t/movies/horror"><img src="http://www.dvdsreleasedates.com/posters/800/R/Return-to-Sender-2015-movie-poster.jpg" width="120px" height="180px">
			<h4 class="word2">Horror</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/classic"><img src="http://t3.gstatic.com/images?q=tbn:ANd9GcTseq0r6SRA4KoP__E_MlmffM5RgeFI83YHMxcP5PWfRAlCOMr9" width="120px" height="180px">
			<h4 class="word2"> Classic</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/anime-and-animation"><img src="http://www.dvdsreleasedates.com/posters/800/I/Inside-Out-2015-movie-poster.jpg" width="120px" height="180px">		
			<h4 class="word2">Anime & Animation</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/romance"><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcSfWrQIDMJ8N0Liy7aO-XQmmA1M4GOLO4LjEaetaSWwlJxAkiba" width="120px" height="180px">			
			<h4 class="word2">Romance</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/drama"><img src="http://www.tribute.ca/tribute_objects/images/movies/Dope/poster_md2.jpg" width="120px" height="180px">
			<h4 class="word2">Drama</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/mystery-and-suspense"><img src="http://t0.gstatic.com/images?q=tbn:ANd9GcRlv4KXBqmrrkIgzngDLSbtg5q3M7bh98hfKrVafUOjaALKAwAF" width="120px" height="180px">
			<h4 class="word2">Mystery & Suspense </h4></a>
		</div>
	</div>
</div>


<div class="banner_holder">
    <div class="banner_holderImage"></div>  
</div>

<div class="row">
	<div class="col-md-6" id="tv1">
		<p>
			MUST SEE TV!
		</p>
		<img src="http://ecx.images-amazon.com/images/I/512h9O8UUyL.jpg">
		<img src="http://ecx.images-amazon.com/images/I/81xy%2BTe3k2L._SL1500_.jpg">
		<img src="http://ecx.images-amazon.com/images/I/51g-U3ChlbL._SY445_.jpg">
		 <br>
        <a href="/t/movies/classic" class="btn btn-default"> SHOP </a>
	</div>
	<div class="col-md-6" id="tv2">
		<p>
			BE THE HERO!
		</p>
		<img src="http://www.dvdsreleasedates.com/covers/arrow-the-complete-first-season-dvd-cover-69.jpg">
		<img src="https://s-media-cache-ak0.pinimg.com/originals/93/1f/b7/931fb78ae6eee694ed295544bb03b329.jpg">
		<img src="http://www.dvdsreleasedates.com/covers/flash-season-1-dvd-cover-58.jpg">
		<br>
        <a href="/t/movies/classic" class="btn btn-default"> SHOP </a>
	</div>
</div>