	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="first">
			<img src="http://ultraimg.com/images/XCV3R48db7.png" width="350px" height="450px">
			<h1 class="word"> Get The Newest Release Today<br>

			<small class="word5" data-hook><%= link_to Spree.t(:shop), spree.products_path %></small> </h1>
		</div>
	</div>
	</div>

	<div class="container">
	<div class="row">
		<div class="col-md-2" id="second">
		<a href="/t/movies/newrelease"><img src="https://s-media-cache-ak0.pinimg.com/236x/1f/89/49/1f8949f4caa82cd4bb5a69272172eada.jpg" width="120px" height="180px">
			<h4 class="word2">New Release</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/action&adventure"><img src="http://rallisreview.com/wp-content/uploads/2015/08/SanAndreasDVD.png" width="120px" height="180px">
			<h4 class="word2"> Action & Adventure </h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/scifi&fantasy"><img src="http://images.redbox.com/Images/EPC/Kiosk/7402.jpg" width="120px" height="180px">		
			<h4 class="word2">Sci-Fi & Fantasy</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/comedy"><img src="http://www.dvdsreleasedates.com/posters/800/S/Spy-2015-movie-poster.jpg" width="120px" height="180px">			
			<h4 class="word2">Comedy</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/family"><img src="http://www.dvdsreleasedates.com/covers/paper-towns-dvd-cover-52.jpg" width="120px" height="180px">
			<h4 class="word2">Family</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/children"><img src="http://ecx.images-amazon.com/images/I/91vcv6py09L._SY550_.jpg" width="120px" height="180px">
			<h4 class="word2">Children </h4></a>
		</div>
	</div>
	</div>

	<div class="container">
	<div class="row">
	<div class="col-md-2" id="second">
		<a href="/t/movies/horror"><img src="http://www.dvdsreleasedates.com/posters/800/R/Return-to-Sender-2015-movie-poster.jpg" width="120px" height="180px">
			<h4 class="word2">Horror</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/classic"><img src="http://t3.gstatic.com/images?q=tbn:ANd9GcTseq0r6SRA4KoP__E_MlmffM5RgeFI83YHMxcP5PWfRAlCOMr9" width="120px" height="180px">
			<h4 class="word2"> Classic</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/anime-and-animation"><img src="http://www.dvdsreleasedates.com/posters/800/I/Inside-Out-2015-movie-poster.jpg" width="120px" height="180px">		
			<h4 class="word2">Anime & Animation</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/romance"><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcSfWrQIDMJ8N0Liy7aO-XQmmA1M4GOLO4LjEaetaSWwlJxAkiba" width="120px" height="180px">			
			<h4 class="word2">Romance</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/drama"><img src="http://www.tribute.ca/tribute_objects/images/movies/Dope/poster_md2.jpg" width="120px" height="180px">
			<h4 class="word2">Drama</h4></a>
		</div>
		<div class="col-md-2" id="second">
			<a href="/t/movies/mystery-and-suspense"><img src="http://t0.gstatic.com/images?q=tbn:ANd9GcRlv4KXBqmrrkIgzngDLSbtg5q3M7bh98hfKrVafUOjaALKAwAF" width="120px" height="180px">
			<h4 class="word2">Mystery & Suspense </h4></a>
		</div>
	</div>
</div>

	<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="third">
			<h1 class="word3"> The Gang is all Here!</h1>
			<div class="col-md-1">
			<h2 class="word1" data-hook><%= link_to Spree.t(:shop), spree.products_path %></h2> 
			</div>
		</div>
	</div>
	</div>


